
<h1>Hello <%= current_user.handle %></h1>


<div id="mainContainer" class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <% current_user.customers.each do |customer|%>
          <div class="col-sm-4">
            <div class="panel panel-default my_panel">
              <div class="panel-body">
                <% if customer.images.any? %>
                  <% profile_img = customer.images.first.url %>
                <% else %>
                  <% profile_img = '/images/purple-lamp.png' %>
                <% end %>
                <img class="img-responsive center-block" src="<%= profile_img %>">
              </div>
              <div class="panel-footer">
                <h5 class="card-title"><%= customer.handle %></h5>
                <p class="card-text"><%= customer.first %> <%= customer.last %></p>
                <button>Remove</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
