<h3>Search Result</h3>  

<% @user_results.each do |result| %>  
  <%= result.first + " " + result.last %><br> 
  <%= result.handle %><br>  
<% end %>

<% @venue_results.each do |result| %>  
  <h1><%= result.title %></h1> 
  <% result.employees.each do |tender| %>
    <%= tender.first + " " + tender.last %><br> 
    <%= tender.handle %><br>  
  <% end %>
<% end %>