<%= link_to 'All images', images_path %>
<h1><%= @image.id%></h1>
<h2> <%= @image[:url] %></h2>
 <img src="http://barlight-test.s3.amazonaws.com/<%= @image[:url] %>" >
 <%= image_tag("http://barlight-test.s3.amazonaws.com/#{@image[:url]}") %>
 
<p><%= link_to 'Edit', edit_image_path(@image) %></p>