<!DOCTYPE html>
<html>
  <head>
    <title>Barlight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>
  <body>
  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Barlight</h4>
              <p class="text-muted">Bartenders - "Let your regulars know when you're working, and if now's 'A Good Time'" </p>
              <p class="text-muted">Customers - "Because you're sick of reading Buzzfeed articles on 'Why Your Bartender Hates You'"</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <ul class="list-unstyled">
                <% if current_user && current_user.has_role?(:tender) %>
                  <li><a href="/users/<%= :id %>/regulars" class="text-white">Regulars</a></li>
                <% end %>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, authenticity_token: true %>        
                  </li>
                <% else %>
                  <li>
                    <%= link_to('Login', new_user_session_path)  %>  
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Barlight</strong>
          </a>
          <%= form_tag(search_page_path, :method => "get", class: 'navbar-form') do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
              <div class="input-group-btn">  
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
              </div>  
            </div>  
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>
    </header>
        <main role="main">
    <!-- devise stuff: -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   <!--  <div class='container'>-->
      <!-- <%= render 'shared/calendar' %>-->
      <%= yield %>
     <!--  <div id='remote_container'></div>-->
    <!-- </div>-->
  </main>

    <!--<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>-->
<script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap"%> async defer></script>
 </body>
</html>