<!DOCTYPE html>
<html>
  <head>
    <title>Barlight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- devise stuff: -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= render 'shared/calendar' %>
    <%= yield %>
  </body>
</html>
