<!DOCTYPE html>
<html>
  <head>
    <title>Barlight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- devise stuff: -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='container'>
      <%= render 'shared/calendar' %>
      <%= yield %>
      <div id='remote_container'></div>
    </div>
  <script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=initMap"%> async defer></script>
  </body>
</html>
